
.App {
  font-family: sans-serif;
  text-align: center;
}


@media only screen and (max-width: 600px) {
  body {
    margin:auto;
    align-items: center;
    padding:1%;
    background-color: white;
    margin-bottom: 10%;
  }
  /* input */
  .citySearch{
    width:96%;
    outline:0;
    border:0;
    padding:5%;

  }

  .searchbox{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display:flex;
    width:99%;
    background-color: white;;
    margin-left:0.5%;
    outline:1px solid black;
    border-radius: 5px;

  }
  /* suggestion div */
  .city{
    display:flex;;
    flex-direction: column;
  }
  .suggestion{
    background-color: white;
    color:black;
    display:flex;
    width:98%;
    padding:1%;
    font-size: small;
    border:1px solid gray;
     justify-content: space-between;
    
  }
  .cityInfo{
    display: flex;
  }
  .suggestion>div>p{
    margin-top:17px;
    margin-left:5px;
  }
  .suggestion:hover{
    color:blue;
    cursor:pointer
  }
  .suggestiondiv{
    text-align: left;
    margin-top:1%;
    width:99%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
  }
  .temp{
    display: flex;
  }
  .icon{
    margin:auto
  }

  /* forecaste page */
  .days{
    display:flex;
    margin:2px;
    font-size: small;
    overflow-wrap: none;
    width:700px;
    overflow-x: scroll;
    /* line-height: 10%; */
  }
  .weekly{
    overflow-x: scroll;
  }
  .day{
    /* border:1px solid red; */
    width:100px;
  }
  .temps{
    display:flex;
    width:100%;
    margin-left: 20%;
  }
  /* current style */
  .container{
    width:90%;
    margin:auto;
    padding:2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    margin-bottom: 500px;
   
  }
  .live{
    display:flex;
    justify-content: flex-start;
  }
  .chart{
    width:100%;
    overflow-x: scroll;
  }
  .pres{
    display:flex;
    justify-content: space-around;
    padding:2%;
  }
  .pres>div{
    background-color: rgb(245,250,255);
    padding:4%;
    line-height: 60%;
    width:30%;
    border-radius: 10px;
  }
  .pres>div>h3{
    margin-top:-1%
  }
}





